@charset "UTF=8";
*{
    margin: 0px;
    padding: 0px;
    
}

html, body{
    min-height: 100vh;
    background-color: rgb(206, 204, 202);
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 2.5em;
}
header > p {
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
a:hover, footer a:hover{
    text-decoration: underline;

}
section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;

}
section.normal{
    background-color: rgb(248, 244, 244);
    color: black;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px gray;
}
section.imagem{
    background-color: white;
    color: rgba(0, 0, 0, 0.473);
    box-shadow: inset 1px 1px 5px black;
    background-size: cover;
    background-attachment: fixed;

}
section.imagem > p {
    display: inline-block;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.562);
    color: rgb(253, 251, 251);
    text-shadow: 1px 1px 1px gray;
    font-size: 1.3em;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    

}
section#img02{background-image: url(../imagens/background002.jpg);
    background-position: right center;

}






footer{
    background-color: black; 
    text-align: center;
    color: white;
    padding: 10px;
}